/* Agregando variables CSS para sistema de temas completo */
:root {
  /*Fondos*/
  --Fondo-pantalla: #FCFCF7;
  --Fondo-elementos: #FCFCF7;
  --Fondo-elementos2: #fcfcf7;
  --Fondo-sidebar: #212529;

  /*Textos*/
  --Texto-primario: #111315;
  --Texto-segundo: #FCFCF7;
  --Texto-blanco: #ffffff;
  --Texto-tercero: #808588;

  /*Botones*/
  --Btn-cancelar: #960018;
  --Btn-primario: #212529;

  /*Bordes*/
  --Borde-tabla: #111315;
  --Borde-suave: #e0e0e0;

  /*Hover*/
  --Hover-tabla: #DCDCD7;
  --Hover-inbox: #4d4d4d;
  --Hover-cancelar: #6a0314;

  /* seleccion */
  --seleccion-1: #acacac;
  --seleccion-2: #7C7D7C;

  /*Input*/
  --Input-Fondo: #EBEBE8;

  /*Shadow*/
  --shadow-custom: 2px 2px 2px 2px rgba(0,0,0,0.3);
}

/* Tema oscuro con todas las variables redefinidas */
.dark-theme {
  /*Fondos*/
  --Fondo-pantalla: #111315;
  --Fondo-elementos: #252628;
  --Fondo-elementos2: #171819;
  --Fondo-sidebar: #171819;

  /*Textos*/
  --Texto-primario: #FCFCF7;
  --Texto-segundo: #111315;
  --Texto-tercero: #717376;
  --Texto-blanco: #ffffff;

  /*Botones*/
  --Btn-cancelar: #960018;
  --Btn-primario: #0E1012;

  /*Bordes*/
  --Borde-tabla: #FCFCF7;
  --Borde-suave: #e0e0e0;

  /*Hover*/
  --Hover-tabla: #434343;
  --Hover-inbox: #2a2a2a;

  /* seleccion */
  --seleccion-1: #3e3e3e;
  --seleccion-2: #7C7D7C;

  /*Input*/
  --Input-Fondo: #404142;

  /*Shadow*/
  --shadow-custom: 2px 2px 2px 2px rgba(0,0,0,0.7);
}

.layout {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-areas: "sidebar body";
  grid-template-columns: auto 1fr;
  gap: 0;
  background-color: var(--Fondo-pantalla);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--Fondo-sidebar);
  color: var(--Texto-blanco);
  height: 100vh;
  width: 200px;
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;

  transition: background-color 0.3s ease;
}

body {
  grid-area: body;
  background-color: var(--Fondo-pantalla);
  color: var(--Texto-blanco);
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100vh;
  overflow-x: hidden;
}

.sidebar-content {
  background-color: var(--Fondo-sidebar);
  transition: background-color 0.3s ease;
  margin: 0;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
}
 